@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #714731;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: linear-gradient(to top, #714731, #99C8F2);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%; 
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    transition: width .3s, height .3s;
    transform: translate(-50%, -50%);
    transition-timing-function: ease; 
}

#login > #ima {
    display: block;
    background: #714731 url(../imagens/foto-viagem.jpg) no-repeat;
    background-size:cover;
    background-position: center center;
    height: 200px;
}

#login > #form {
    display: block;
    padding: 10px;
}

#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#form > p {
    font-size: 0.8em;
}

form > .campo {
    background-color: #6F92BF;
    border: 2px solid #6F92BF;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

.campo > label {
    display: none;
}

.campo > img {
    width: 40px;
    padding: 5px;
    font-size: 2em;
}

.campo > input {
    background-color: #95BFA7;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    padding: 4px;
    border-radius: 8px;
    transform: translateY(-17px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #7b9c89;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #3a5747;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #95BFA7;
    color: white;
    border: 1px soli #7b9c89;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #3a5747;
}

form > a.botao > img {
    font-size: 0.8em;
}


